{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">
            Django App
        </h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia, eligendi laudantium architecto aliquid quo ab
            itaque sunt labore dolore voluptatem veritatis! Cupiditate ex at est quaerat provident. Aperiam magnam harum
            ipsam,
            odio, accusantium architecto atque a perspiciatis natus cum sapiente quibusdam exercitationem veniam facilis
            dolorum
            delectus illo deserunt animi repudiandae eius. Quia commodi voluptates veritatis. Quisquam quo debitis velit
            quasi
            repellat id libero vitae minus quos molestias esse illo dolore aut, repudiandae sed eveniet corrupti dolor
            ratione
            architecto harum ducimus perspiciatis impedit accusamus. Obcaecati, culpa. Deleniti, soluta amet! Iste quam
            aspernatur dolore dolor maxime repellat a magnam quia reiciendis sequi!
           </p>

           <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup/">
                Signup
            </a>
           </div>
    </section>
    

</main>
{% endblock %}


